# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Vector Stores (if any created locally)
# Vector Stores & Uploads
chroma_db/
uploaded_docs/
friends_repo/

# LaTeX build files
*.aux
*.log
*.out
*.toc

# Test presentation files
*.pptx

